// ----------------------------------General layout styles-------------------------//
//________________________________________________________________________________//
@use '../core/variables' as *;

.container {
	margin: 0 auto;
	padding: 2rem;
	width: 100%;
	max-width: 1200px;
}

.button-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section {
	h2 {
		text-align: center;
	}
}