// ----------------------------------General layout styles-------------------------//
//________________________________________________________________________________//
@use '../core/variables' as *;

.container {
	margin: 0 auto;
	padding: 2rem;
	width: 100%;
	max-width: 1200px;
}

