// --------------------------------------Header------------------------------------//
//________________________________________________________________________________//
@use '../core/variables' as *;

.header {
    background: #dddddd url('../img/ph_img.png') center;
    background-size: cover;
    padding: 8rem 2rem;
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
    p {
        margin-bottom: 2rem;
        text-align: center;
    }

    .btn {
        margin-bottom: 2rem;
    }
}