// ---------------------------------------Offer------------------------------------//
//________________________________________________________________________________//
@use '../core/variables' as *;

.offer {
	&__item {
        display: flex;
        align-items: center;
        justify-content: center;
		width: 100%;
        height: 280px;
        margin-bottom: 2rem;
        background-color: $grey-color;
	}
    :last-child {
        margin-bottom: 0;
    }
}
