// ---------------------------------Variables-------------------------------------//
//________________________________________________________________________________//

// Colors
$theme-color: #23a7ff;
$secondary-color: #0fbcf1;
$light-color: #f3f3f3;
$dark-color: #333;
$grey-color: #808080;
$overlay-color: rgba(0, 0, 0, 0.5);

// Size main
$size-1: 0.5rem;
$size-2: 1rem;
$size-3: 2rem;
$size-4: 3rem;
$size-5: 4rem;
$size-6: 6rem;
$size-7: 8rem;

// Margin page
$margin-page-small: $size-3;
$margin-page-medium: $size-5;
$margin-page-large: $size-7;

// Other
$font-stack: Helvetica, sans-serif;
$default-rounding: 5px;